#@ load("@ytt:data", "data")

apiVersion: v1
kind: ConfigMap
metadata:
  name: #@ data.values.name + "-config"
  namespace: #@ data.values.namespace
  labels:
    app: #@ data.values.name
data:
  #! Application environment
  NODE_ENV: 'production'
  PORT: '3000'
  HOST: '0.0.0.0'
  ORIGIN: #@ data.values.app.origin
  BASE_PATH: #@ data.values.app.basePath
  QLEVER_API_URL: #@ data.values.app.qleverApiUrl
  QLEVER_UI_URL: #@ data.values.app.qleverUiUrl
  CATPLUS_ONTOLOGY_URL: #@ data.values.app.catplusOntologyUrl
  RESULTS_PER_PAGE: #@ data.values.app.resultsPerPage
  SWISSCAT_URL: #@ data.values.app.swisscatUrl
  SDSC_URL: #@ data.values.app.sdscUrl
  CHEMBOARD_GITHUB_URL: #@ data.values.app.chemboardGithubUrl
